/* styles.css */
/*untuk mengati font*/ 
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/*Isi CSS di Bagian Navbar dan Scrollbar*/ 
.navbars {
  font-family: "Edu QLD Beginner", cursive;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: auto; /* Mengizinkan scroll */
}